<%= form_for(@comment) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
   <div id="comment_area">
   	   <%= f.text_area :score %>
   </div>
</br>
   <%= f.submit "comment", class: "btn btn-large btn-primary" %>
<% end %>