<tr class="active">
	<td> <%= link_to "#{item.id}", item %> </td>
	<td> <%= item.product_id %> </td>
	<td> <%= item.product_name %> </td>
	
	<td> <%= link_to "delete", item, class: "btn btn-default btn-sm",
			method: :delete, data: {confirm: "You sure?"}, remote: true %> </td>
</tr>