// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product {
	width: 80%;
}
#product_detail {
	width: 50%;
	margin-right: 50px;
}
#list {
	width: 100%;
}